<%- include('../partials/head') %>

<body>
    <%- include('../partials/navbar') %>

    <div class="header">
        <h2>User's Comment</h2>
    </div>

    <div class="content">
        
        <h1> User:  NA </h1>

        <p> Comment: NA </p>
        
        <p> id: <%= 444+1 %> </p>

        <a href="/comments" class="btn btn-outline-warning"> back to comments</a>
        <a href="/comments/<%= 444+1 %>/edit" class="btn btn-outline-info"> edit comment</a>
        <form method="POST" action="/comments/<%= 444+1 %>?_method=DELETE">
            <button class="btn btn-outline-danger">Delete</button>
        </form>
    </div>

    <%- include('../partials/footer') %>

</body>
</html>