<%- include('partials/head') %>

<body>
    <%- include('partials/navbar') %>

    <div class="header">
        <h2>Big titty energy</h2>
    </div>

    <div class="content">
        
        <h1> Comments </h1>

        <% for (let c of comments){ %> 
            <div>
                <li> <%= c.comment %> - <b> <%= c.username  %>  </b>
                <a href="/comments/<%= c.id %> " class="btn btn-outline-info"> Info</a></li>
                <a href="/comments/<%= c.id %>/edit" class="btn btn-outline-primary"> edit</a></li>
            </div>
        <% } %> 
    </div>
    <a href="comments/new" class="btn btn-outline-success"> New Comment</a>

    <%- include('partials/footer') %>

</body>
</html>