<%- include('partials/head') %>

<body>
    <%- include('partials/navbar') %>

    <div class="header">
        <h2>Big titty energy</h2>
    </div>

    <div class="content">
        
        <h1> Comments </h1>

        <% 33+3 %> 
            <div>
                <li> NA - <b> NA  </b>
                <a href="/comments/<%= 33+3 %> " class="btn btn-outline-info"> Info</a></li>
                <a href="/comments/<%= 33+3 %>/edit" class="btn btn-outline-primary"> edit</a></li>
            </div>
        <% 33+3 %> 
    </div>
    <a href="comments/new" class="btn btn-outline-success"> New Comment</a>

    <%- include('partials/footer') %>

</body>
</html>